#Basics of Python

In [ ]:
print("machine laearning")

machine laearning

Basic data types


1.  int
2.  float
3. complex
4. boolean
5. string

In [ ]:
a = 8
print(a)
print(type(a))

8
<class 'int'>

In [ ]:
a = 8.5
print(a)
print(type(a))

8.5
<class 'float'>

In [ ]:
a = "hello ooooooo ooo"
print(a)
print(type(a))

hello ooooooo ooo
<class 'str'>

In [ ]:
a = int("123")
print(a)
print(type(a))

123
<class 'int'>

In [ ]:
c =  2 + 3j
print(c)
print(type(c))

(2+3j)
<class 'complex'>

In [ ]:
x = 4
print(x)
print(type(x))

4
<class 'int'>

In [ ]:
y = float(x)
print(y)
print(type(y))

4.0
<class 'float'>

boolean

In [ ]:
a = 8<9
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
a = 8>9
print(a)
print(type(a))

False
<class 'bool'>

slicing

In [ ]:
a =  "machine learning"
print((a)[0:4])

mach

concat strings

In [ ]:
words = "lets "
words2 = "learn"
print(words + words2)

lets learn

#list , tuples ,and sets

there are two types of object mutable and immutable

immutable objects
1. int
2. float
3. tuples
4. string
5. Boolean

mutbale object
1. list
2. sets
3. Dictionary

list

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#list can have multiple data types
my_list1 = [1, 2, 3.4, "hello", True]
print(my_list1)

[1, 2, 3.4, 'hello', True]

In [ ]:
#list are mutable---> changeable
my_list1 = [1, 2, 3.4, "hello", True]
my_list1.append(5)
print(my_list1)
print(my_list1[0])

[1, 2, 3.4, 'hello', True, 5]
1

In [ ]:
my_list1 = [1, 2, 3.4, "hello", True]
del my_list1[2]
print(my_list1)

[1, 2, 'hello', True]

In [ ]:
#join the list
my_list1 = [1, 2, 3.4, "hello", True]
my_list = [1,2,3,4,5]

my_list3 = my_list + my_list1
print(my_list3)

[1, 2, 3, 4, 5, 1, 2, 3.4, 'hello', True]

#Tuple

In [ ]:
tup = (1,2,3,4,5)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
#tupple allow multiple data types
tup1 = (1, 2, 3.4, "hello", True)
print(tup1)

(1, 2, 3.4, 'hello', True)

In [ ]:
#converting list to tuple
my_list = [1, 2, 3.4, "hello", True]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3.4, 'hello', True)

In [ ]:
print(len(my_tuple))

5

In [ ]:
#tuple are immutable
my_tuple.append(6)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

#SET

In [ ]:
#set uses curly  brackets
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#set does not support indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#convert list into set
my_list = [1, 2, 3.4,4 ,4, "hello", True]
my_set = set(my_list)
print(my_set)

{1, 2, 3.4, 4, 'hello'}

In [ ]:
#set dows not allow dublicates values
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

#Dictonary

In [ ]:
my_dict = {'Name': 'John', 'Age': 30, 'City': 'New York'}
print(my_dict)
print(type(my_dict))

{'Name': 'John', 'Age': 30, 'City': 'New York'}
<class 'dict'>

In [ ]:
#in dict we can call the values  by their key
print(my_dict['Name'])
print(my_dict['Age'])
print(my_dict['City'])

John
30
New York

In [ ]:
#dictionary does not allow duplicate keys
my_dict = {'Name': 'John', 'Age': 30, 'City': 'New York', 'Name':'John'}
print(my_dict)

{'Name': 'John', 'Age': 30, 'City': 'New York'}

#simple if else statement

In [ ]:
a = 5
b = 7
if a > b:
  print("a is greater than b")
else:
  print("b is greater than a ")

b is greater than a

In [ ]:
a =  int(input("enter your age "))
a2 =  int(input("enter your age "))
if a > a2:
  print("a2 is younger than  b")
else:
  print("a is younger  than a2 ")

enter your age 12
enter your age 15
a is younger  than a2

In [ ]:
#if elif else:
a = 45
b = 12
c = 25
if (b<a>c):
    print("a is greater")
elif (a<b>c):
    print("b is greater")
else:
    print(" C is greater ")

a is greater

In [ ]:
#nested if statement
a = 5
b = 7
c = 9
if a > b:
  if a > c:
    print("a is greater")
  else:
    print("c is greater")
else:
  if b > c:
    print("b is greater")
  else:
    print("c is greater")

c is greater

#Loops in Python

In [ ]:
for i in range(5):   #0,1,2,3,4
  laptop_price = int(input("enter the laptop price " ))
  print(laptop_price)

enter the laptop price 45000
45000
enter the laptop price 250000
250000
enter the laptop price 56666
56666
enter the laptop price 44444
44444
enter the laptop price 555555
555555

In [ ]:
list = [12,34,56,7,9,5]
for i in list:
  print(i)

12
34
56
7
9
5

In [ ]:
#While loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#Function
1. function is block of code that can be reused uin program

In [ ]:
#factorial of 5
number = int(input("Enter the number" ))

factorial = 1
if number < 0:
       print("Factorial does not exist for negative numbers")
elif number == 0:
    print("The factorial of 0 is 1")
else:
  for i in range(1,number + 1):
    factorial = factorial * i
  print("The factorial of",number,"is",factorial)

Enter the number0
The factorial of 0 is 1

In [ ]:
#factorial function

def factrial_value(num):

  factorial = 1
  if num == 0:
     print("The factorial of 0 is 1")
  else:
    for i in range(1,num + 1):
     factorial = factorial * i
    return factorial

In [ ]:
print(factrial_value(3))

6